body{
    background:#ff882d url("../img/trainSpeed.svg") no-repeat;
    background-position: 50%;
}
.wrapper{
    border:1px solid red;
    max-width: 1200px;
    height:100vh;
    margin: auto;
}
.main-navbar{
    display:flex;
    border:1px solid red;
    align-items: center;
}
.main-navbar>*{

    border:1px solid red;
}
.nav-brand{
    flex:1;
    text-align:left;
    padding:0 20px;
}
#nav-search{
    padding-left:10px;
    border:1px solid #ff882d;
    background: rgba(255, 136, 45, 0.2);
    border-radius: 4px;
    margin-right: 10px;;
}
#nav-search::placeholder{
    padding-left:1px;
    color:rgba(0, 0, 0, .2)
}
#nav-search:focus{
    outline:none
}
.user-link{
    background:#393939;
    border-radius: 4px;
    position: relative;
    width:45px;
    height: 40px;
}
.nav-list .fas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    font-size:2em;
}

