html{
    height:100vh
}
body{
    background:url("../img/train2.svg") no-repeat, linear-gradient(to top, #ff882d 10%,#0072b8 );
    height:100%;
    background-size: 130%;
    background-position: 50% bottom;
    background-origin:left top;
}
.wrapper{
    max-width: 1200px;
    height:100%;
    margin: auto;
    padding:0 15px;
}
/* #region  navbar */
.nav-fixed{
    padding:10px;
    background:#46a9ff ;
    box-shadow: 0px 1px 30px rgba(56, 56, 56, 0.5)
}
.main-navbar{
    display:flex;
    align-items: center;   
}
.nav-brand{
    flex:1;
    text-align:left;
    padding:0 20px;
    color:#fff
}
.nav-brand .mini-brand{
    font-size:0.6em
}
#nav-search{
    padding-left:10px;
    border:none;
    border-bottom:3px solid #fff;
    background: rgba(57, 57, 57, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 10px;
    color:#fff
}
#nav-search::placeholder{
    padding-left:1px;
    color:rgba(255, 255, 255, .6)
}
#nav-search:focus{
    outline:none
}
.user-link{
    background:#393939;
    border-radius: 4px;
    position: relative;
    width:45px;
    height: 40px;
}
.nav-list .fas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    font-size:2em;
}
/* #endregion */

/* #region  MAIN */
main{
    flex-grow: 1;
    margin-top: 60px;

}
#lead-check{
    display: none;
}
.btn-lead{
    background:#393939
}
.lead-change{
    overflow: hidden;
    position: relative;
    height:75%;
    max-width:1000px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 1px 100px 20px rgba(0, 0, 0, 0.2);
}
.lead-info{
    /* background:rgba(57, 57, 57, 0.6); */
    background: rgba(176, 176, 176, 0.5);
    position: absolute;
    top:0;
    left:50%;
    width:100%;
    transform: translateX(-50%);
    border-radius: 30px;
    height:100%;
    display: flex;
    padding: 30px 0;
   /*  transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; */
}
.lead-info.form{
    transform: translateX(-150%);
  /*   transition: all 1s ease-in-out 10ms;
    -webkit-transition: all 10ms ease-in-out; */
}
.lead-info-right{
    flex-basis: 25%;
    padding:0 30px; 
    text-align: left;
}
.lead-info-left{
    flex-basis: 75%;
    padding:0 30px; 
    text-align: left;
    border-left:1px solid #fff;
    color:#fff;
    font-size: 1.45em;
    font-weight:200;
    margin:0 auto;
}
.lead-info-left>*:not(:last-child){
    margin-bottom:30px;
}
.lead-info-left>*{

    max-width: 600px;
}
.lead-info .fas{
    color:white;
    font-size: 1.9em;
    margin-right:20px;
    width:60px;
    text-align: center;
}
.group-control {
    margin-top:30px;
    width:100%;
    justify-content: flex-end;
}
.group-control>*{
    flex-basis: 150px;
    text-align: left;
}
.group-control .sale-application{
   margin-right: 20px;
}
.result{
    font-size: 0.9em;
    font-weight: 600;
    font-family: monospace;
    margin-top: 15px;
    color:#393939
}


#lead-check:checked ~ .lead-change .lead-info{
    transform: translateX(50%);
}
#lead-check:checked ~ .lead-change .lead-info.form{
    transform: translateX(-50%);
    display: flex;
}



/* #endregion */



@media screen and (max-width:910px){

    .lead-info{
        display: flex;
        flex-flow: column;
    }
    .lead-info-right{
        text-align: center;
    }
    .lead-info-left{
        border-left:none ;
        margin-top:15px;
        font-size:1.3em
    }
}

@media screen and (max-width:750px){
    .lead-info-right{
        font-size:0.8em
    }
    .lead-info-left{
       font-size:1.2em
    }
    .lead-info-left .fas{
       font-size:1.4em;
       margin-right:8px;
    }
}
@media screen and (max-width:767px){
    .lead-change{
        overflow-y: auto;
    }
}
@media screen and (max-width:595px){
    .lead-info-right{
        font-size:0.5em
    }
    .lead-info-left{
        font-size:0.9em
     }
}