body{
    background:linear-gradient(to top, #ff882d 10%,#0072b8 )
}
.wrapper{
    background:url("../img/train2.svg") no-repeat;
    background-size: 130%;
    background-position: 50% 0%;
    max-width: 1200px;
    height:100vh;
    margin: auto;
}
.nav-fixed{
    padding:10px;
    background:#46a9ff ;
}
.main-navbar{
    display:flex;
    align-items: center;
   
}
.nav-brand{
    flex:1;
    text-align:left;
    padding:0 20px;
    color:#fff
}
.nav-brand .mini-brand{
    font-size:0.6em
}
#nav-search{
    padding-left:10px;
    border:none;
    border-bottom:3px solid #fff;
    background: rgba(57, 57, 57, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 10px;
    color:#fff
}
#nav-search::placeholder{
    padding-left:1px;
    color:rgba(255, 255, 255, .6)
}
#nav-search:focus{
    outline:none
}
.user-link{
    background:#393939;
    border-radius: 4px;
    position: relative;
    width:45px;
    height: 40px;
}
.nav-list .fas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    font-size:2em;
}

